@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/* container  */

.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* header  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
}

/* header navigation */

.header_ul {
    display: flex;
    column-gap: 24px;
}

.header_li {
    color: #000;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px
}

/* header button  */

.header_button {
    color: var(--Anti-Flash-White, #F3F3F3);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    border-radius: 32px;
    background: var(--Black, #000);
    padding: 12px 24px;
}

/* header burger  */

.burger {
    display: none;
}

/* section 1 */

.section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
    column-gap: calc(130 / 1440 * 100%);
}

/* section 1 title frame  */

.section_1_title {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -1px;
    width: 490px;
}

.section_1_p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
    width: 490px;
}

/* section 1 button  */

.section_1_button {
    color: var(--Anti-Flash-White, #F3F3F3);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    border-radius: 32px;
    background: var(--Black, #000);
    padding: 12px 24px;
    margin-top: 52px;
}

/* section 1 image  */

.section_1_img {
    height: 400px;
    width: 490px;
    padding: 10px;
    border-radius: 12px;
    background-image: url("../images/first_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* section 2  */

.section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
    column-gap: calc(133 / 1440 * 100%);
    background-color: black;
}

/* section 2 image  */

.section_2_img {
    height: 400px;
    width: 503.5px;
    padding: 10px;
    border-radius: 12px;
    background-image: url("../images/second_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* section 2 title frame  */

.section_2_title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.1px;
    width: 503.5px;
}

.section_2_p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-top: 16px;
    width: 503.5px;
}

/* section 3  */

.section_3 {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 64px calc(130 / 1440 * 100%);
}

/* section 3 title frame  */

.title_and_logo {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 16px;
}

.article_logo {
    font-size: 40px;
}

.article_title {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.article_p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}

/* footer  */

footer {
    display: flex;
    justify-content: space-between;
    padding: 96px calc(150 / 1440 * 100%);
    background-color: black;
}

/* footer logo  */

.footer_logo {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24.653px;
    font-style: normal;
    font-weight: 900;
    line-height: 26.414px;
    letter-spacing: -0.44px;
    text-transform: uppercase;
}

/* footer navigation */

.footer_nav {
    display: flex;
    column-gap: 80px;
}

.footer_nav_title {
    margin-bottom: 16px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.footer_list {
    margin-bottom: 8px;
}

.footer_text {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

/* subscribe  */

.subscribe_title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.subscribe_p {
    width: 214px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.4;
    margin-top: 24px;
}